<div class="user-details">
  <div class="intro-with-image fade-in-section">
    <img src="assets/images/profile_picture.png" alt="Derek van Tilborg profile picture" class="intro-image">
    <div class="intro-text">
      <p>
        Hi! I’m a PhD-trained scientist specializing in artificial intelligence for drug discovery,
        with both an experimental and computational background.
      </p>
<!--      <p>-->
<!--        My research focuses on developing and applying artificial intelligence in low-data regimes, leveraging active learning and new-->
<!--        reliability estimation methods.-->
<!--      </p>-->
      <p>
        I have developed new deep learning methods and brought my models to the lab to discover new bioactive molecules,
        generate nanobiologics, and design nanoparticles.
      </p>
    </div>
  </div>

  <div class="intro-with-image fade-in-section">
    <img src="assets/images/paper_icon-01.svg" alt="Out of distribution and molecular reconstruction" class="intro-image">
    <div class="intro-text">
      <p>
        <b>Molecular deep learning at the edge of chemical space</b> <br>
        Derek van Tilborg, Luke Rossen, and Francesca Grisoni <br>
        <a href="https://chemrxiv.org/engage/api-gateway/chemrxiv/assets/orp/resource/item/67d45bb181d2151a02600e0a/original/molecular-deep-learning-at-the-edge-of-chemical-space.pdf" target="_blank" aria-label="External link">Preprint (2025) 🔗</a>
      </p>
      <p>
        I introduced a new method to estimate model reliability, based on molecular reconstruction.
        I experimentaly validated my method in the lab, resulting in the discovery of several new bioactive molecules
        for multiple target proteins.
      </p>

    </div>
  </div>

  <div class="intro-with-image fade-in-section">
    <img src="assets/images/paper_icon-02.svg" alt="Active learning for small molecule drug screening" class="intro-image">
    <div class="intro-text">
      <p>
        <b>Traversing chemical space with active deep learning for low-data drug discovery</b> <br>
        Derek van Tilborg and Francesca Grisoni <br>
        <a href="https://www.nature.com/articles/s43588-024-00697-2" target="_blank" aria-label="External link">Nature Computational Science (2024) 🔗</a>
      </p>
      <p>
        I systematically benchmarked deep learning-based active learning strategies for low-data drug discovery,
        identifying key success factors and achieving up to six-fold improvement in hit discovery over traditional screening.
      </p>
    </div>
  </div>

  <div class="intro-with-image fade-in-section">
    <img src="assets/images/paper_icon-03.svg" alt="Active learning for nano particle design" class="intro-image">
    <div class="intro-text">
      <p>
        <b>Machine learning-guided high throughput nanoparticle design</b> <br>
        Derek van Tilborg & Ana Ortiz-Perez et al. <br>
        <a href="https://pubs.rsc.org/en/content/articlepdf/2024/dd/d4dd00104d" target="_blank" aria-label="External link">Digital Discovery (2024) 🔗</a>
      </p>
      <p>
        We developed an integrated platform combining microfluidics, high-content imaging, and active machine learning
        to optimize PLGA-PEG nanoparticles for cancer cell uptake, achieving a 3× improvement in just two iterative design cycles.
      </p>
    </div>
  </div>

  <div class="intro-with-image fade-in-section">
    <img src="assets/images/paper_icon-04.svg" alt="Activity cliffs" class="intro-image">
    <div class="intro-text">
      <p>
        <b>Exposing the limitations of molecular machine learning with activity cliffs</b> <br>
        Derek van Tilborgs, Alisa Alenicheva, and Francesca Grisoni. <br>
        <a href="https://pubs.acs.org/doi/pdf/10.1021/acs.jcim.2c01073" target="_blank" aria-label="External link">JCIM (2022) 🔗</a>
      </p>
      <p>
        I developed an open-source benchmarking platform to evaluate machine learning models on activity cliffs,
        revealing that classical descriptor-based models often outperform deep learning methods in capturing complex structure-activity relationships.
        These benchmark datasets have been widely adopted in the field.
      </p>
    </div>
  </div>

</div>

<script>
  const faders = document.querySelectorAll('.fade-in-section');

  const appearOptions = {
    threshold: 0.1,
    rootMargin: "0px 0px -50px 0px"
  };

  const appearOnScroll = new IntersectionObserver(function(entries, appearOnScroll) {
    entries.forEach(entry => {
      if (!entry.isIntersecting) return;
      entry.target.classList.add("is-visible");
      appearOnScroll.unobserve(entry.target);
    });
  }, appearOptions);

  faders.forEach(fader => {
    appearOnScroll.observe(fader);
  });
</script>