<div class="user-details">
  <div class="intro-with-image">
    <img src="assets/images/profile_picture.png" alt="Derek van Tilborg profile picture" class="intro-image">
    <div class="intro-text">
      <p>
        I’m a PhD-trained scientist specializing in artificial intelligence for drug discovery,
        with both an experimental and computational background.
      </p>
<!--      <p>-->
<!--        My research focuses on developing and applying artificial intelligence in low-data regimes, leveraging active learning and new-->
<!--        reliability estimation methods.-->
<!--      </p>-->
      <p>
        I have developed new deep learning methods and brought my models to the lab to discover new bioactive molecules,
        generate nanobiologics, and design nanoparticles.
      </p>
    </div>
  </div>
</div>

