.custom-footer {
  background-color: #19222d;
  padding: 2rem 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#FFF;

  p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    a {
      // no borders
      outline: 0 !important;
      border: none !important;
      outline-style: none !important;
      -moz-outline-style: none !important;

      padding: none;
      margin: none;
    }

    .icon {
      text-align: center;
      color: #FFF;
      width: 20px;
      height: 20px;
      font-size: 20px;
      padding: 10px;
      margin: 5px;
      border-radius: 50%;
      border: 2px solid #FFF;
      transition: all .5s;

      &:hover {
        color: $main;
        background: #FFF;
      }

      &:active {
        color: $main;
        background: #FFF;
      }

      @media only screen and (min-width: $cut) {
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
}